<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="container">

      <div class="content-1">
        <ion-title>gymsNearMe</ion-title>
        <div class="content-2">
          <ion-icon name="barbell-outline"></ion-icon>
        </div>
      </div>
      <div class="sub-container">

        <div class="content-3">

          <ion-button routerLink="/menu" color="secondary" id="profile-button">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>


        </div>
      </div>


    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card *ngFor="let gym of gyms">
    <ion-card-header>

      <ion-card-title>
        <h1>{{gym.gymName}}</h1>
      </ion-card-title>
      <ion-card-subtitle>
        <h1>{{gym.gymLocation}}</h1>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <div class="image-container">
        <div class="image-card">
          <ion-img id="image" src="{{gym.imgUrl}}"></ion-img>
        </div>
        <div class="icon-card">

          <ion-button fill="outlinee" slot="start">
            <ion-icon style="font-size:x-large;" name="bookmark-outline" slot="end"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
    <ion-card-content>
      {{gym.gymInfo}}
    </ion-card-content>


  </ion-card>

</ion-content>