
.container{
    display: flex;
    
}

.container div {
    border: 1px ;
    padding: 10px;
    
}

.content-1 {
    flex: 1;
    text-align: center;
    // justify-content: flex-start;
    order: 1;
}
.sub-container{
    display: flex;
    order:2;
}

.content-2 {
    flex: 7;
    text-align: center;
    order: 1;
    // justify-content: flex-start;
}
.content-3{
    flex:0;
    order: 2;
    text-align: end;
}
.image-container{
    width: 100%;
   text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-container #image{
    width: 100%;
    height: 400px;
    display: inline-block;
     
}
.image-card{
    width: 100%;
    
}
.image-container div{
    border: 1px ;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info div{
    border: 1px;
    padding: 10px;
}
.info-container{
order: 1;

}