<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="container">

      <div class="content-1">
        <ion-title>gymsNearMe</ion-title>
        <div class="content-2">
          <ion-icon name="barbell-outline"></ion-icon>
        </div>
      </div>
      <div class="sub-container">

        <div class="content-3">

          <ion-button routerLink="/menu" color="secondary" id="profile-button">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>


        </div>
      </div>


    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>