<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">sign-up</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sign-up-form">

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>full name</ion-label>
            <ion-input required type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input required type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Phone number</ion-label>
            <ion-input required type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>email</ion-label>
            <ion-input required type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>password</ion-label>
            <ion-input required type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>location</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>

        <div padding>
          <ion-button (click)="goToHomePage()">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSignUp()">register</ion-button>

        </div>
        <div padding>
          <p>already have an account?</p>
          <ion-button color="secondary" (click)="goToSignIn()">sign in</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>