.sign-up.form{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    width: auto;
}
.footer {
    display: flex;
    justify-content: center;
}

.footer div {
    border: 1px;
    padding: 20px;

}