<ion-header>
  <ion-toolbar>
    <div class="container">

      <div class="content-1">
        <div>
          <ion-title>login to gymsNearMe</ion-title>
        </div>
        <div class="content-2">
          <ion-icon name="barbell-outline"></ion-icon>
        </div>
      </div>

      <div class="content-3">
        <ion-button color="secondary" (click)="goToHomePage()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-form">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>

        <div padding>
          <ion-button color="secondary">login</ion-button>
          <ion-button (click)="goToSignUp()">sign up</ion-button>

        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card color="black">
      <ion-card-header>

        <ion-card-title style="text-align: center;">Contact us!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="footer">

          <div class="instagram">
            <ion-button color="secondary">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-button>
          </div>
          <div class="twitter">
            <ion-button color="secondary">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
          </div>
          <div class="facebook">
            <ion-button color="secondary">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </div>
          <div class="mail">
            <ion-button color="secondary">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          </div>

        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>